$primary: #6da3eb; // Socks
$secondary: #bfd4ef; // Muffin

// TODO: Add dark mode functionality!

@import "../../node_modules/bootstrap/scss/bootstrap";

html, body {
  overflow-x: hidden;
}

body {
  background-color: white;
}

.main-box {
  padding: 20px 0;
  height: 100%;
}

.navbar-collapse {
  flex-grow: 0;
}

.avatar {
  width: 200px;
  background-color: $primary-bg-subtle;
  border-radius: 999px;
  border-color: $primary-bg-subtle;
  border-width: 3px;
  border-style: solid;
  position: relative;
  //margin: 13.313px 13.313px 0 13.313px;
  z-index: 5;
}

.social-icon {
  width: 42px;
}

.project-icon {
  width: 82px;
}

.only-mobile {
  display: none;
}

.m-bg-primary-subtle {
  background-color: var(--bs-primary-bg-subtle) !important;
}

.m-bg-secondary-subtle {
  background-color: var(--bs-secondary-bg-subtle) !important;
}

.m-border-primary-subtle {
  border-color: var(--bs-primary-border-subtle) !important;
}

.m-border-secondary-subtle {
  border-color: var(--bs-secondary-border-subtle) !important;
}

.flag {
  width: 50px;
  box-sizing: unset;

  margin-top: 2px;
  margin-bottom: 2px;
}

.bg-primary-subtler {
  background-color: tint-color($primary, 90%)
}

.bg-secondary-subtler {
  background-color: tint-color($secondary, 90%)
}

.border-primary-subtler {
  border-color: tint-color($primary, 70%)
}

.border-secondary-subtler {
  border-color: tint-color($secondary, 70%)
}

@media (max-width: 768px) {
  .text-container {
    text-align: center;
  }
  .only-mobile {
    display: block;
  }
  .m-bg-primary-subtle {
    background-color: var(--bs-secondary-bg-subtle) !important;
  }
  .m-bg-secondary-subtle {
    background-color: var(--bs-primary-bg-subtle) !important;
  }
  .m-border-primary-subtle {
    border-color: var(--bs-secondary-border-subtle) !important;
  }
  .m-border-secondary-subtle {
    border-color: var(--bs-primary-border-subtle) !important;
  }
  .bg-primary-subtler {
    background-color: tint-color($secondary, 90%)
  }
  .bg-secondary-subtler {
    background-color: tint-color($primary, 90%)
  }
  .border-primary-subtler {
    border-color: tint-color($secondary, 70%)
  }
  .border-secondary-subtler {
    border-color: tint-color($primary, 70%)
  }
}